html {
    scroll-behavior: smooth;
}

/* Set foreground color for the body */
body {
    color: #161616;
}

/* Set foreground color for all anchor elements */
a {
    color: #161616;
}

/* Set display to none for elements with the class visually-hidden */
.visually-hidden {
    display: none;
}

/* Set foreground color for elements with the class card-category */
.card-category {
    color: #D73953;
}

/* Set foreground color for elements with the class section-tagline */
.section-tagline {
    color: #D73953;
}

/* Define custom properties for colors */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Reset the color for body and anchor elements using the text-color variable */
body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

/* Reset the color for section-tagline and card-category using the color-primary variable */
.section-tagline, 
.card-category {
    color: var(--color-primary);
}

:root {
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}

:root {
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}

html {
    font-size: 62.5%; /* This makes 1rem = 10px if the default is 16px */
}

body {
    font-size: var(--font-size-medium); /* Setting the body's font size to medium */
}

:root {
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

body {
    font-weight: var(--font-weight-regular);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}